/* Sidebar.css */

.sidebar {
    width: 250px;
    padding: 20px;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
  }
  
  .sidebar.light {
    background-color: #fad0f4; /* Light background */
    color: #333; /* Dark text */
  }
  
  .sidebar.dark {
    background-color: #442b44; /* Dark background */
    color: #f5f5f5; /* Light text */
  }
  
  .sidebar__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .sidebar__menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar__menuItem {
    padding: 10px 0;
    cursor: pointer; /* Pointer cursor on menu items */
    transition: color 0.3s; /* Smooth transition for text color */
  }
  
  .sidebar__menuItem:hover {
    color: #007bff; /* Change color on hover */
  }
  
  /* Add responsive styles if needed */